/* Parametrização do cabeçalho  */
.cabecalho_cadastro{
	text-align: center;
	width: 100%;
	height: 140px;
	padding: 0;
	margin: 0;
	font-weight: bolder;
	background: #eaedf2;
	color: rgb(2, 47, 93);
}

.centraliza_relatorio {
	position: absolute;
	left: 27%;
}

#header {
	width: 100%;
	height: 150px;
	padding: 0;
	margin: 0;
	background:  #eaedf2;
}

#header img {
	position: absolute;
	left: 10%;
	top: 2.2%;
}

#header p {
	position: relative;
	padding: 0;
	margin: 0;
	width: 35%;
	top: 76.8%;
	left: 10%;
	color: rgba(2,47,93,1);
	font-weight: bolder;
}

#header h1 {
	padding: 0;
	margin: 0;
}


#header2 {
	width: 100%;
	height: 30%;
	padding: 0;
	margin: 0;
	background:  #3498db;
}

#header2 img {
	position: absolute;
	left: 41.4%;
	top: 2.2%;
}

#header2 p {
	position: relative;
	left: 41.4%;
	top: 10.8%;
	color:  #34495e;
	font-weight: bolder;
}

#header2 h1 {
	padding: 0;
	margin: 0;
}

.subcabecalho {
	position: absolute;
	right: 5.2%;
	top: 5.8%;
	width: 50%;
	color: rgba(2,47,93,1);
	font-weight: bolder;
}

.subcabecalho h1 {
	   text-shadow: 2px  #2c3e50;
}

/* Parametrização do menu */

body, 
.menu,
.sub-menu {
    margin: 0;
    padding: 0;

}
.clearfix:after{
    content: '.';
    display: block;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
    visibility: hidden;
    overflow: hidden;
}
.menu,
.sub-menu {
    list-style: none;
    background: rgb(2, 47, 93);
}
.sub-menu {
    background: rgba(2, 30, 62, 0.8);
    z-index: 1;
}
.menu a {
    text-decoration: none;
    display: block;
    padding: 9px;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
}
.menu li {
    position: relative;
    text-decoration: none;
}
.menu > li {
    float: left;
    color: whitesmoke;
    text-decoration: none;
}

.menu > li a {
    color: whitesmoke;
    text-decoration: none;
}


.menu > li:hover {
    background: #2c3e45;
    color: whitesmoke;
    text-decoration: none;
    transition-duration: 1s;
}
.menu li:hover > .sub-menu {
    display: block;
}
.sub-menu {
    display: none;
    position: absolute;
    min-width: 27%;
    text-decoration: none;
}
.sub-menu li:hover {
    background: whitesmoke;
    color: #2c3e45;
    text-decoration: none;
    transition-duration: 1s;
}

.sub-menu a:hover {
    color: #2c3e45;
    transition-duration: 1s;
}


.sub-menu .sub-menu {
    top: 0;
    left: 100%;
}

/* Parametrização de corpo e formulário  */

body {
	margin: 0;
}

.formulario {
	padding: 1px;
	margin: 0;
	position: relative;
	left: 4.5%;
	top: 25%;
	text-align: center;
	width: 90%;
	font-size: 0.90em;
	background: #ecf0f1;
	padding: 0;
	border-radius: 5px;
	z-index: 2;

}

.formulario2 {
	padding: 2px;
	margin: 0;
	position: absolute;
	left: 4.5%;
	top: 52.9%;
	text-align: center;
	width: 90%;
	height: 37.9%;
	font-size: 0.95em;
	background: #ecf0f1;
	padding: 0;
	border-radius: 5px;
	z-index: 2;
}

.formulario2 select {
	
	border-radius: 5px;

}



.formulario select {
	
	border-radius: 5px;

}

.formulario2 input[type='text'] {
	
	border-radius: 5px;

}

.formulario input[type='text'] {
	
	border-radius: 5px;

}

.formulario input[type='number'] {
	
	border-radius: 5px;

}

.formulario input[type='file'] {
	
	border-radius: 5px;

}

.formulario2 input[type='number'] {
	
	border-radius: 5px;

}

.formulario input[type='time'] {
	
	border-radius: 5px;

}

.formulario2 input[type='time'] {
	
	border-radius: 5px;

}

.formulario input[type='date'] {
	
	border-radius: 5px;

}

.formulario2 input[type='date'] {
	
	border-radius: 5px;

}

.formulario2 input[type='password'] {
	
	border-radius: 5px;

}

.formulario input[type='password'] {
	
	border-radius: 5px;

}

.formulario2 input[type='email'] {
	
	border-radius: 5px;

}

.formulario input[type='email'] {
	
	border-radius: 5px;

}

.formulario3 {
	padding-bottom: 1%;
	margin-top: 1.2%;
	position: relative;
	left: 4.5%;
	top: 30%;
	text-align: center;
	width: 90%;
	height: 60%;
	font-size: 0.95em;
	background: #ecf0f1;
	border-radius: 5px;
	z-index: 2;
}

.formulario3 h1{
	font-size: 7em;
}

.formulario3 p{
	font-size: 1em;
}

.formulario3 legend {
	background: #bdc3c7;
	font-weight: bolder;
	color: rgba(2,47,93,1);
	padding-bottom: 2px;
	border-top-right-radius: 5px ;
	border-top-left-radius: 5px ;
	z-index: 2;
}


.formulario3 input[type='text'] {
	
	border-radius: 5px;

}

.formulario3 input[type='password'] {
	
	border-radius: 5px;

}

.formulario3 input[type='number'] {
	
	border-radius: 5px;

}

.formulario3 input[type='email'] {
	
	border-radius: 5px;

}

.formulario3 input[type='password'] {
	
	border-radius: 5px;

}


.formulario4 {
	padding: 2px;
	margin: 2px;
	text-align: center;
	font-size: 0.95em;
	background: #ecf0f1;
	border-radius: 5px;
	z-index: 2;
}

.formulario4 h1{
	z-index: 2;
	font-size: 800%;
}

.formulario4 legend {
	z-index: 2;
	background: #bdc3c7;
	font-weight: bolder;
	color: rgba(2,47,93,1);
	padding-bottom: 2px;
	border-top-right-radius: 5px ;
	border-top-left-radius: 5px ;
	
	width: 100%;
}


.formulario4 input[type='text'] {
	
	border-radius: 5px;

}

.formulario4 input[type='password'] {
	
	border-radius: 5px;

}

.btn_azul {
	background: rgb(2, 47, 93);
	color: whitesmoke;
	transition-duration: 0.7s;
}



.btn_azul:hover {
	background: #2c3e45;
	transition-duration: 0.7s;
	
}


.btn_azul_efeito {
	background: #7f8c8d;
	color: whitesmoke;
	border-color: #dddcf7;
}


.formulario legend {
	background: #bdc3c7;
	font-weight: bolder;
	color: rgba(2,47,93,1);
	padding-bottom: 1px;
	border-top-right-radius: 5px ;
	border-top-left-radius: 5px ;
	z-index: 2;
}

.formulario2 legend {
	background: #bdc3c7;
	font-weight: bolder;
	color: rgba(2,47,93,1);
	padding-bottom: 1px;
	border-top-right-radius: 5px ;
	border-top-left-radius: 5px ;
	z-index: 2;
}


.formulario5 {
	padding: 2px;
	margin: 0;
	position: absolute;
	left: 4.5%;
	top: 78.8%;
	text-align: center;
	width: 90%;
	font-size: 0.95em;
	background: #ecf0f1;
	padding: 0;
	border-radius: 5px;
	z-index: 2;

}

.formulario5 select {
	
	border-radius: 5px;

}

.formulario5 input[type='text'] {
	
	border-radius: 5px;

}

.formulario5 input[type='password'] {
	
	border-radius: 5px;

}

.formulario5 input[type='email'] {
	
	border-radius: 5px;

}

.formulario5 input[type='number'] {
	
	border-radius: 5px;

}
.formulario5 input[type='time'] {
	
	border-radius: 5px;

}
.formulario5 input[type='date'] {
	
	border-radius: 5px;

}
.formulario5 legend {
	background: #bdc3c7;
	font-weight: bolder;
	color: rgba(2,47,93,1);
	padding-bottom: 1px;
	border-top-right-radius: 5px ;
	border-top-left-radius: 5px ;
	z-index: 2;
}


.formulario6 {
	padding: 2px;
	margin: 0;
	position: absolute;
	left: 4.5%;
	top: 87%;
	text-align: center;
	width: 90%;
	font-size: 0.95em;
	background: rgba(255, 255, 255, 0);
	padding: 0;
	border-radius: 5px;
	z-index: 2;

}

.formulario7 {
	padding: 2px;
	margin: 0;
	position: absolute;
	left: 4.5%;
	top: 79%;
	text-align: center;
	width: 90%;
	font-size: 0.95em;
	background: rgba(255, 255, 255, 0);
	padding: 0;
	border-radius: 5px;
	z-index: 2;

}


.formulario_relat {
	padding: 0%;
	text-align: center;
	border-radius: 5px;
}


.formulario_relat input[type='text'] {
	
	border-radius: 5px;

}

.formulario_relat input[type='date'] {
	
	border-radius: 5px;

}

.formulario_relat select {
	
	border-radius: 5px;

}

.formulario_relat input[type='password'] {
	
	border-radius: 5px;

}

.formulario_relat input[type='number'] {
	
	border-radius: 5px;

}

.formulario_relat input[type='email'] {
	
	border-radius: 5px;

}

.formulario_relat input[type='password'] {
	
	border-radius: 5px;

}



/* Cadastro unidade*/


.form_cadastro_unidade {
	padding: 4px;
	position: absolute;
	left: 4.5%;
	top: 45%;
	text-align: center;
	width: 90%;
	font-size: 0.95em;
	background: #ecf0f1;
	padding: 0;
}


.form_cadastro_unidade legend {
	background: #bdc3c7;
	font-weight: bolder;
	color: rgba(2,47,93,1);
	padding-bottom: 2px;
	border-top-right-radius: 5px ;
	border-top-left-radius: 5px ;
	z-index: 2;
}


.form_cadastro_unidade input[type='text'] {
	border-radius: 4px;
}

.form_cadastro_unidade input[type='date'] {
	border-radius: 4px;
}

.form_cadastro_unidade input[type='number'] {
	border-radius: 4px;
}

.form_cadastro_unidade input[type='email'] {
	border-radius: 4px;
}

.form_cadastro_unidade input[type='password'] {
	border-radius: 4px;
}



.form_cadastro_unidade select {
	border-radius: 4px;
}

/* Parametrização do rodapé ou footer */

.rodape {
	width: 100%;
	height: 39px;
	padding-bottom: 2.99%;
	margin: 0;
	background:rgb(2, 47, 93);
	position: absolute;
	bottom: 0;
	text-align: center;
}

.rodape p {
	position: relative;
	top: 20%;
	color: white;
	
}

.cadastro_existente {
	color: black;
	text-align: center;
	background: #ecf0f1;
	height: 300px;
	width: 80%;
	position: absolute;
	left: 10%;
	top: 35%;
	border-radius: 5px;
}

.cadastro_existente h1 {
	position: relative;
	top: 38%;
}

.cadastro_existente b {
	color: #34495e;
}

.cadastro_existente a {
	color: #34495e;
}

.cadastro_existente a:hover {
	color: #34495e;
}

.admin {
	text-align: center;

}

.admin p {
	background: rgba(2,47,93,1);
	color: white;
	font-weight: bolder;
}

.admin a {
	background: rgba(2,47,93,1);
	color: white;
	font-weight: bolder;
	text-decoration: underline;
}

.admin a:hover {
	color: whitesmoke;
}

.usuario_senha{
	width: 45%;
	text-align: center;
	position: relative;
	left: 28%;
}

.hme  {
	background:  #ecf0f1;
	width: 80%;
	height: 40%;
	padding: 0;
	margin-top: 5%;
	position: relative;
	left: 10%;
	text-align: center;
	border-radius: 5px;
}
.hme h5 {
	text-align: center;
}
.hme h1 {
	text-align: center;
	font-weight: bolder;
	font-size: 12em;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  z-index: 0;
}
.col-sm, [class*="col-sm"] {
    padding-right: 0;
    padding-left: 0;
    z-index: 0;
}

.selected {
	background: rgb(6, 9, 15);
}

.aprovacao  {
	text-align: center;
}

.aprovacao th {
	border: solid #d9dde2 1px;
	font-size: 0.877em;
	
}

.aprovacao td {
	border: solid #d9dde2 1px;
	font-size: 0.877em;
	
}


.aprovacao th {
	background: rgba(2,47,93,1);
	color: whitesmoke;
}

.aprovacao tr:hover {
	background: #d9dde2; /*#2980b9;*/
	color: black;
	transition-duration: 0.5s;
}


.container_relatorios {
	margin-top: 5%;
	margin-bottom:  2%;
}

.container_relatorios2 {
	margin-top: 10%;
	margin-bottom:  2%;
	position: relative ;
	left: 6.4%;
}

.container p {
	text-align: center;
	font-weight: bolder;
	color:  rgba(2,47,93,1);
}

.barra {
    height: 30%;
    overflow: scroll;
}

.botao_centro {
	text-align: center;
}


.div_btn_relatorio{
	height: 30%;
}

.btn_relatorio {
	background: rgba(2,47,93,1);
	color: whitesmoke;
}



.btn_relatorio:hover {
	background:  #34495e;
	transition-duration: 0.7s;
}




.relatorios {
	background: #3498db;
	color: white;
	border-radius: 5px;
	border: 1px solid #eaedf2;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 1em;
	transition-duration: 1.2s;
	padding: 2%;
	margin: 2%;

}

.relatorios:hover {
	text-decoration: none;
	color: #3498db;
	background: #eaedf2;
}

.relatorios a {
	color: white;
	font-size: 1.5em;
	text-align: center;
	padding: 2%;
	margin: 2%;
}

.relatorios a:hover {
	text-decoration: none;
}




.grid_teste {
	background: red;
	color: white;
}

.grid_teste2 {
	background: #025601;
	color: white;
}


.grid_teste3 {
	background: #7300e6;
	color: white;
}

.divisao_relatorio {
	margin-bottom: 10%;
}

.btn-relatorio {
	background: rgba(2,47,93,1);
	color: whitesmoke;
	transition-duration: 0.7s;
}

.btn-relatorio2 a {
	text-decoration: none;
	background: rgba(2,47,93,1);
	color: whitesmoke;
	transition-duration: 0.7s;
	color: white;
}

.btn-relatorio2 a:hover {
	background:  #34495e;
	transition-duration: 0.7s;
	text-decoration: none;
	color: white;
}


.btn-relatorio:hover {
	background:  #34495e;
	transition-duration: 0.7s;
}

.form_ocorrencia {
	width: 50%;
	position: absolute;
	left: 47.5%;
	top: 30%;
	padding: 0;
}

.ficha_individual {
	position: absolute;
	top: 30%;
	width: 50%;
	padding: 0;
	margin: 0;
}

